<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Hello {{username}} </h1>

	<p> So it appears you have forgot your password for {{app_name}}? Well just to make sure that it's you and
	not some naughty person trying to change your password we need to you verify this email by clicking on
	the link below. </p>

	<h3> How do I change my password? </h3>
	<p> hit the link below to complete the process. </p>

	<p> <a href="{{reset_url}}">{{reset_url}}</a> </p>

	<h3> I didn't do this! </h3>
	<p> If this wasn't you just ignore this email
		and nothing will happen to your account. p>
	
</body>
</html>