<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> {{subject}} </title>
</head>
<body>

	<h1> Hello {{username}} </h1>

	<p> You recently requested a new password from {{app_name}} this is just a quick email
	to confirm this action. </p>

	<p> If you did request a new password, simply click on the link below and I will
	generate you a new password and send it you. </p>

	<h3> Request New Password </h3>
	<p> <a href="{{new_password_link}}">{{new_password_link}}</a> </p>

	<h3> Urm... What? </h3>
	<p> If you did not request a new password nothing has been changed. You can 
	ignore this email and nothing more will happen.  </p>

	<p> Cheers</p>
	
</body>
</html>